<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>821123745761-gr4bd01ui902ddmec3is5i8jsaestf9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.821123745761-gr4bd01ui902ddmec3is5i8jsaestf9n</string>
	<key>API_KEY</key>
	<string>AIzaSyDIwBSdNoHRJ8A1ab_HxQ0NdGUqhcXvmsY</string>
	<key>GCM_SENDER_ID</key>
	<string>821123745761</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.judqueu.nenudamye</string>
	<key>PROJECT_ID</key>
	<string>nenudemy</string>
	<key>STORAGE_BUCKET</key>
	<string>nenudemy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:821123745761:ios:04c998f4283a51be71f4a0</string>
	<key>DATABASE_URL</key>
	<string>https://nenudemy.firebaseio.com</string>
</dict>
</plist>